table, tr , th, td , tbody{
    border: 10px solid wheat;
  }
  table {
    border-collapse: collapse;
  }
  
  table, tr , th, td , tbody {
    border: 10px solid black;
  }
    table {
    border: 1px solid #1C6EA4;
    background-color: #EEEEEE;
    width: 100%;
    text-align: left;
    border-collapse: collapse;
  }
  table, td, table, th {
    border: 1px solid #AAAAAA;
    padding: 3px 2px;
  }
  table, tbody td {
    font-size: 13px;
  }
  table, tr:nth-child(even) {
    background: #62CFE4;
  
  }

  .file{
      border: 20px;
  }

  h1 {
    color: #34EFF1;
    font-size: 40px;
    background-color: #7CDEF2;
    
  }
 
  body{
      background-color: #DCF5F5;
  }

 
  p#text{
      text-align: center;
      color: white;
  }

  div#div_file{
      position: relative;
      margin: 50px;
      padding: 10px;
      width: 300px;
      background-color: #61BEEE;
      border-radius: 8px;
       
  }
